
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h5>Product list</h5>
      <div ng-repeat="product in products track by product._id">
        <product-row ></product-row>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <div class="bs-example">
        <h5>Add New Product</h5>
        <form name="form" class="add-product-form" ng-submit="addProduct()">
          <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" ng-model="newProduct.name" required>
        </div>
          <div class="form-group">
            <label for="name">Description</label>
            <textarea class="form-control"  rows="3" id="description" placeholder="Description"
                      ng-model="newProduct.description"></textarea>
          </div>
          <div class="form-group">
            <label >Price</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" name="price" class="form-control" id="price" placeholder="Price" ng-model="newProduct.price" required integer>
            <div class="input-group-addon">.00</div>
          </div>
            <span ng-show="form.price.$error.integer">The value is not a valid integer!</span>
          </div>
          <button type="submit" class="btn btn-default" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
